html {
    margin: 0 auto;
}

body {
    overflow: hidden;
}

a.navbar-brand:focus {
    outline: none;
}

/* game stuff below */

#gameContainer {
    height: 90vh; /* 90% of parent's height */
    width: 90vh; /* sets width to the same as height, so a 1:1 aspect ratio */
    margin-bottom: 20px;
}

#gameSVG {
    height: 90vh;
    width: 90vh;
	
	/* centering horizontally and vertically */
	position: absolute;
  	left: 50%;
    top: 50%;
	transform: translate(-50%, -47%); /* 47% to account for the space taken up by the navbar */
  	-webkit-transform: translate(-50%, -47%);
	
	border-radius: 5px;
}

#gameSVG .gameSVG_subGame-square {
	fill: #DDD;
}

#gameSVG .gameSVG_subGame-square:hover {
	fill: #CCC;
}

#gameSVG .gameSVG_subGame.sg-disabled .gameSVG_subGame-square {
	fill: #BBB;
}

#gameSVG .gameSVG_inner-border {
	stroke: #000;
	stroke-width: 9;
}

#gameSVG .gameSVG_outer-border {
	stroke: #000;
	stroke-width: 25;
}

#gameSVG .gameSVG_subGame_inner-border {
	stroke: #000;
	stroke-width: 4;
}

@media only screen and (max-width: 95vh) /* when width is roughly less than height */ {
    
    #gameSVG {
        height: 94vw;
        width: 94vw;
    }
}

.x {
	stroke-width: 5;
	stroke: #000; /* blue if wanted: #1976d2; */
}

.o {
	fill: none;
	stroke: #000;
	stroke-width: 5;
}

.sg-x {
	stroke: #000;
	stroke-width: 10;
}

.sg-o {
	fill: none;
	stroke: #000;
	stroke-width: 10;
}

.gameWinLine {
	stroke-width: 15;
	stroke: #000;
}
