body {
    height: 100vh;
    overflow: hidden;
}

#gameContainer {
    height: 90vh; /* 90% of parent's height */
    width: 90vh; /* sets width to the same as height, so a 1:1 aspect ratio */
    margin-bottom: 20px;
}

#gameSVG {
    height: 90vh;
    width: 90vh;
	
	/* centering */
	position: absolute;
  	left: 50%;
	transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);	
}

#gameSVG .gameSVG_subGame-square {
	fill: #CCC;
}

#gameSVG .gameSVG_inner-border {
	stroke: #000;
	stroke-width: 6;
}

#gameSVG .gameSVG_outer-border {
	stroke: #000;
	stroke-width: 15;
}

#gameSVG .gameSVG_subGame_inner-border {
	stroke: #000;
	stroke-width: 3;
}