
$colors: (
    theme: (
        primary       : #00BCD4,    
        dark-primary  : #0097A7,
        light-primary : #B2EBF2,
        accent        : #FF9800,
        text          : #212121,
        secondary-text: #FFFFFF,
        divider       : #BDBDBD
    ),
    standard: (
        red         : #f44336,
        purple      : #673ab7,
        indigo      : #3f51b5,
        blue        : #2196f3,
        light-blue  : #03a9f4,
        cyan        : #00bcd4,
        teal        : #009688,
        green       : #4caf50,
        yellow      : #ffeb3b,
        orange      : #ff9800,
        brown       : #795548,
        gray        : #9e9e9e,
        blue-gray   : #607d8b
    )
);